* {
    font-family: "Raleway", sans-serif;
  }

  #img-logo{
    width: 61px;
    height: 19px;
  }
  
  /* les bases du header */
  header,
  main {
    margin-left: 15px;
  }
  
  .cblue{
    color: #0065fc;
  } 

  .cwhite{
    color: #f2f2f2;
  }

  body{
    width: 95%;
    margin-top: 0;
  }


  /* ligne logo et navigation */


  .contain-header {
    display: flex;
    flex-direction: column;
    /*margin-left: 15px;*/
  }
  
  .logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
    .navigation {
    margin-top: 0px;
    }
  
  .liens-nav {
    display: flex;
    flex-direction: row;
    gap: 68px;
    margin-top:0;
    }
  
  
  
  .liens-nav li {
    display: inline-block;
    color: #000000;
     list-style-type: none;
    /*margin: 10px;*/
    margin-top: 0;
    padding-top: 20px;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .liens-nav li:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
  }

  .lien-nav-active {
    border-top: 2px solid #0065fc;
    color: #0065fc !important;
  }
  
  
  

  /* barre des titres et sous-titres */


  .titles {
    color: #000000; /* peut-être à jeter plus tard */
  }

  .titles h1{
    font-size: 22px;
    height: 26px;
  }

  .titles p{
    font-size: 16px;
    height: 19px;
  }
  

  /* ligne de la barre de recherche */

  .form-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    }


  .logo-search {
    display: flex;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
  }
  .logo-search > i{
    width: 14px;
    height: 18px;
  }
  
  .search-line {
    display: inline;
    margin-bottom: 15px;
    height: 2rem;
    font-size: 1.5rem;
  }

  .search-input{
    height: 50px;
    width: 235px;
    line-height: 2rem;
    border: 1px solid #f2f2f2;
  }

  .search-input::placeholder{
  color: black;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
  }

  #search-icon {
    display: none;
  }
  
    .mobile-submit{
    display: none;
  }
  
  .search-submit {
    display: inline;
    border: 0;
    height: 50px;
    
    padding: 0 10px;
    margin-left: 0px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065fc;
  }
  

  /* ligne des filtres */
.titre-filtres{
margin-right: 15px;
font-size: bold;
font-weight: 700;
font-size: 18px;
vertical-align: middle;
padding-top: 10px;

}
  #boutons{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    
  }

  .boutons-filtres {
    border-radius: 30px;
    border-color: #d9d9d9;
    width: 200px;
    height:40px;
    line-height: 15px;
    font-size: 17px;
    font-weight: 700;
    vertical-align: middle;
    margin-right: 10px;
  }

  .boutons-filtres:hover{
    background-color: #deebff;
  }

  .info-icon{
   color: #fff;
   background-color: #0065fc;
   border-radius: 12px;
   margin-right: 10px;
  }

  .info-header i::after{
    font-weight: 400;
  }
  

  /* le contenu du main */


  .contenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-wrap: break-word;
  }
  
  .heberg-pop{
    display: flex;
    flex-direction: row;
  }


  /* la partie hébergements */



  #hebergements{
    border-radius: 10px;
    background-color: #f2f2f2;
    
  }
  
  .hebergements {
    width: 64%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  #hebergements h2{
    font-size: 22px;
    margin: 15px;
  }
  
  /* style d'une vignette */
  .vignette {
    border-radius: 10px;
    background-color: #fff;
    max-height: 300px;
    margin: 15px;
  }
  

  /* la partie photo d'une vignette */


  .photo {
    max-height: 124px;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    overflow: hidden;
  }
  
  .img-vignettes {
    display: block;
    border-radius: 10px 10px 0px 0px;
    width: 250px;
    height: 125px;
    margin-top: 10px;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
  }
  

  /* le contenu texte d'une vignette */


  .titre-vignette {
    font-size: 16px;
  }
  
  .prix-vignettes {
    font-weight: normal;
  }
  
  /* partie "etoiles" en bas d'une vignette */
  .stars {
    display: inline;
  }

  .vignette h3, .vignette p{
    margin-left: 15px;
    margin-right: 15px;
  }
  

  /* partie "les plus populaires" dane le contenu */



  .populaires {
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .pop-titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
  }

  .pop-titre h2{
    font-size: 16px;
  }

  .pop-content{
    display: flex;
    flex-direction: column;
  }
  
  .pop-vignette {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
  }
  
  .pop-vignette img {
    width: 33%;
    height: 146px;
    border-radius: 15px 0px 0px 15px;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
  }
  
  .pop-vignette-content,
  .pop-stars {
    margin-left: 5px;
  }
  
  .pop-vignette-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    padding: 5px;
    margin: 1px;
  }
  
  .texte-vignette h3,
  .texte-vignette p {
    display: block;
    margin: 1px; /* préciser top bottom... */
    margin-block-start: 1px;
    margin-block-end: 1px;
    padding: 1px; /* préciser top bottom... */
  }

  .texte-vignette h3{
    font-size: 16px;
  }

  .pop-stars {
    margin-bottom: 2px;
    padding: 0px;
  }
  

  /* les activités */


  #activites h2{
    font-size: 16px;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  .activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .activite {
    background-color: #fff;
    width: 290px;
    height: 380px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 6px;
    /*padding: 5px;*/
    box-shadow: 0px 3px 15px 0px #0000001A;
    }

    .activite h3{
      margin: 15px;
    }
  
  .img-activite {
    display: flex;
    overflow: hidden;
    width: 285px;
    max-height: 380px;
    align-items: center;
    border-radius: 15px 15px 0 0;
    
  }
  
  .activite img {
    display: flex;
    border-radius: 15px 15px 0 0;
    display: block;
    width: 285px;
    height: 380px;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
  }
  
  .activite h4 {
    height: 15%;
  }
  

  /* le footer */
  

  .pied {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin: 15px;
  }
  
  .partie-pied {
    display: flex;
    flex-direction: column;
    width: 30%;
    /*border: #000 solid 2px;*/
  }
  
  .nav-footer ul {
    padding-left: 0px;
    list-style-type: none;
  }
 
  
  /* media queries */


  @media (max-width:1024px){
    .contenu{
        flex-direction: column;
    }
    .hebergements, .populaires{
        width: 95%;
    }
    .populaires{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .pop-content{
        display: flex;
        flex-direction: row;
    }

    .pop-vignette{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 33%;
    }
  }

  /* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  #search-icon {
  display: inline;
  border-radius: 15px;
}

.liens-nav{
  justify-content: space-between;
  text-align-items: center;
}

#search-text{
  display: none;
}

.search-submit{
  border-radius: 15px;
}

.logo{
  text-align: center;
  
}

.logo-nav{
  justify-content: center;
}

.titles h1{
  margin-bottom: 20px;
  padding: 10px;
}

.titles p{
  margin-top: 20px;
  padding: 10px;
}

#boutons{
  flex-direction: column;
}

.boutons-filtres{
 
  width: 150px;
  margin: 5px;
}

.heberg-pop{
  flex-direction: column-reverse;
}

.hebergements{
  grid-template-columns: 1fr;
}

.pop-content{
  flex-direction: column;
  width: 900px;
}

.activite{
  height: 200px;
}

.img-activite{
  width: 315px;
  height: 141px;
}

.pied{
  flex-direction: column;
}
.partie-pied{
  width: 95%;
  flex-direction: column;
}

}

