* {
    font-family: "Raleway", sans-serif;
  }
  
  /* les bases du header */
  header,
  main {
    margin-left: 15px;
  }
  
  /*h3, p{
      margin: 1px;
      margin-block-start: 1px;
      margin-block-end: 1px;
  }*/
  
  /* ligne logo et navigation */
  .contain-header {
    display: flex;
    flex-direction: column;
    /*margin-left: 15px;*/
  }
  
  .logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /*.logo{
      /*margin: 15px;
      /*border: 1px solid black;
  }*/
  /*.logo img{
      height: 50%;
      width: 50%;
  }*/
  
  .navigation {
    margin: 1px;
    /*border: 1px solid black;*/
  }
  
  .liens-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /*right: 10px;*/
  }
  
  .liens-nav a:hover {
    text-decoration: overline;
  }
  
  .liens-nav li {
    display: inline;
    color: #000000;
    /*text-decoration: none;*/
    list-style-type: none;
    margin: 10px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  /* barre des titres et sous-titres */
  .titles {
    color: #000000; /* peut-être à jeter plus tard */
  }
  
  /* ligne de la barre de recherche */
  .logo-search {
    border-radius: 5px 0px 0px 5px;
    background-color: #deebff;
  }
  
  .search-line {
    display: inline;
    margin-bottom: 15px;
    height: 2rem;
  }
  
  /*.bar-container{
      margin-right: 0px;
  }*/
  
  #recherche {
    height: 2rem;
    margin-right: 0px;
    display: inline;
  }
  
  .search-submit {
    display: inline;
    border: 0;
    /*line-height: 2rem;*/
    height: 2rem;
    padding: 0 10px;
    margin-left: 0px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(0, 0, 220, 1);
  }
  
  /* ligne des filtres */
  .boutons-filtres {
    border-radius: 30px;
    border-color: #d9d9d9;
  }
  
  /* le contenu du main */
  .contenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* la partie hébergements */
  .hebergements {
    width: 64%;
    display: grid;
    border-radius: 10px;
    background-color: #deebff;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  
  /* style d'une vignette */
  .vignette {
    border-radius: 10px;
    background-color: #fff;
    max-height: 300px;
    margin: 10px;
  }
  
  /* la partie photo d'une vignette */
  .photo {
    max-height: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .img-vignettes {
    display: block;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    max-height: 50%;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
  }
  
  /* le contenu texte d'une vignette */
  .titre-vignette {
    font-size: 1.5em;
  }
  
  .prix-vignettes {
    font-weight: normal;
  }
  
  /* partie "etoiles" en bas d'une vignette */
  .stars {
    display: inline;
  }
  
  /* partie "les plus populaires" dane le contenu */
  .populaires {
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #deebff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .pop-titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .pop-vignette {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  
  .pop-vignette img {
    width: 35%;
    height: 140px;
    border-radius: 15px 0px 0px 15px;
  }
  
  .pop-vignette-content,
  .pop-stars {
    margin-left: 5px;
  }
  
  .pop-vignette-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    padding: 5px;
    margin: 1px;
  }
  
  .texte-vignette h3,
  .texte-vignette p {
    display: block;
    background-color: #000077;
    margin: 1px;
    margin-block-start: 1px;
    margin-block-end: 1px;
    padding: 1px;
  }
  .pop-stars {
    margin-bottom: 2px;
    padding: 0px;
  }
  
  /* les activités */
  
  .activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
  }
  
  .activite {
    background-color: #fff;
    width: 24%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 4px;
  }
  
  .img-activite {
    object-fit: cover;
    /*object-position:bottom;*/
    overflow: hidden;
    position: relative;
    /*max-width: 85%;*/
    height: 200px;
    align-items: center;
    max-height: 200px;
    min-height: 200px;
  }
  
  .activite img {
    border-radius: 10px 10px 0 0;
    margin: 3px;
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  .activite h4 {
    height: 15%;
  }
  
  /* le footer */
  
  .pied {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #deebff;
    margin: 15px;
  }
  
  .partie-pied {
    display: flex;
    flex-direction: column;
    width: 30%;
    /*border: #000 solid 2px;*/
  }
  
  .nav-footer ul {
    padding-left: 0px;
    list-style-type: none;
  }
  